body {width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  color: #ffff00;
  background-color: #404040;
  font-family: "Akzidenz Grotesk Pro Light";
  letter-spacing: -0.4px;
  font-size: 24px;
  }

h1 {
font-family: "Akzidenz Grotesk Pro Super";
font-weight: normal;
color: #ffff00;
font-size: 48px;
text-align: center;
text-transform: none;
letter-spacing: -0.4px;
}

h2 {font-weight: normal;
font-family: "Akzidenz Grotesk Pro Light";
color: #ffff00;
font-size: 28px;
letter-spacing: -0.4px;}

@font-face {
  font-family: "Akzidenz Grotesk Pro Super";
  src: url(/fonts/akzidenzgroteskpro_super.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro Light";
  src: url(/fonts/AKZIDENZGROTESKPRO_LIGHT.TTF);
  font-display: swap;
}

@font-face {
  font-family: "Akzidenz Grotesk Light Condensed";
  src: url(/fonts/akzidenzgroteskpro_lightcn.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Light";
  src: url(/fonts/HELN.TTF);
  font-display: swap;
}

a {
  color: #ffff00;
  text-decoration: underline;
  text-decoration-color: rgba(0,0,0,0.5);
}
a:hover, a:focus {
color: #404040;
background-color: #ffff00;
  text-decoration: none;
}
a:visited {
  color: #404040;
  text-decoration: underline;
}
